:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--UIbackground);

  --UIbackground: #64b06c;
  --UIbutton: #a9bf7f;
  --FontTitle: #fff879;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@font-face {
  font-family: money;
  src: url("/src/assets/fonts/money.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: money;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--FontTitle);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--UIbutton);
  cursor: pointer;
  border: white solid 2px;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #8da364;
}

.card {
  width: 150px;
  height: 225px;
  background-image: url(./assets/images/card.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: solid white 2px;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
